body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: grab;
    overflow: hidden;
}

#svg {
    width: 100%;
    height: 100%;
    transform-origin: center center;
}

#controls, #submitDiv {
    position: absolute;
    bottom: 3%;
    display: flex;
    gap: 10px;
}

#controls {
    left: 3%;
}

#submitDiv {
    right: 3%;
}

.zoom-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.zoom-button:hover {
    background-color: #0056b3;
}

.svg-textbox {
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;

    -webkit-text-fill-color: white;
    -webkit-text-stroke: 5px rgb(15, 15, 15);
    text-indent: 0px; /* Offset so that -webkit-text-stroke doesn't get cut off */
    paint-order: stroke fill;

    margin: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    box-sizing: border-box;
    
    /*background-color: rgb(230, 230, 230);
    outline: 4px solid red;*/

}

.svg-textbox:focus {
    background-color: rgb(230, 230, 230);
    outline: 4px solid red;
}

.svg-textbox::selection {
    background-color: rgb(85, 137, 214);
}

#notification {
    position: fixed;
    top: -50%;
    left: 50%; /* Off-screen to left */
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    z-index: 1000;
    text-align: center;
    min-width: 300px;
    transition: top 0.5s ease;
    pointer-events: none;
}

#notification.entering {
    top: 5%;
}

#notification.exiting {
    top: -50%;
}

#progress-bar {
    margin-top: 10px;
    height: 5px;
    background-color: #4caf50;
    width: 100%;
    animation: shrink-bar 5s linear forwards;
}

@keyframes shrink-bar {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
